* {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5%;
  margin: 80px auto;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  width: 300px;
}

.qr-code {
  border-radius: 5%;
  display: inline-block;
  margin: 15px auto;
  width: 90%;
}

p {
  font-size: 18px;
  margin: 10px 40px 10px 40px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: hsl(220, 15%, 55%);
  font-size: 14px;
}

.attribution-container {
  left: 50%;
  position: absolute;
}

.attribution {
  font-size: 11px;
  left: -50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  width: 200px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
